/* .App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .header{
  display: flex;
  justify-content: space-between;
  border: 1px solid brown;
  height: 100px;
}
.logo{
  width: 100px ;
}
.nav-items{
  padding: 0px 20px;
}
.nav-items  ul{
  display: flex;
  font-size: 24px;
  list-style: none;
}
.nav-items ul li{
  padding: 10px;
  margin: 10px;
}
.restu-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.res-card{
  margin: 5px;
  padding: 5px;
  width: 245px;
  height: auto;
}
.res-card a{
  text-decoration: none;
}
.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}
.filter-btn{
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.res-logo{
  width: 100%;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
  width: 248px;
  height: 400px;
  background-color:#f0f0f0;
  margin: 5px;
  margin-top: 60px;
}
.login-btn{
  padding: 0 20px;
  cursor: pointer;
}
.filter{
  display: flex;
}
.search-box {
  margin-top: 10px;
  padding: 10px;
  height: 20px;
}
.search > button{
  margin-top: 10px;
  padding: 10px;
  height: 38px;
}
.nav-items li a{
  text-decoration: none;
}
.user-card{
  padding: 10px;
  border: 2px solid rgba(29, 135, 210, 0.756)
} */